
{% extends "layout.html" %}

{% block content %}
<style>
  p.invalid-feedback{
    color: #d90024;
    margin: 2px 0;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .w-50{
    display: inline-block !important;
    
  }
  .form-control:focus,
  .form-control:hover {
    border-color:#e99c2e;
  }

  .form-control{
    padding: 1rem;
    letter-spacing: .05em;
    display: block;
    border-radius: .25rem;
    border: .2rem solid #a09e9c;
    background-color: #fafafb;
    outline: 0;
    line-height: 1.15;
    height: unset !important;
  }
  .form-group label{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 700;
    color: rgba(13,11,35,.7);
    display: inline-block;
  }
</style>

    <title>{% block head_title %}{% endblock %}</title>

    {% block body %}


    <!-- <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> -->

    <div class="login">
      <div class="main-agileits">
        <div class="form-w3agile">
          {% block auth_content %}{% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}

{% endblock content %}

{% block newsletter %}{% endblock newsletter %}