<!--welcome-hero start -->
{% load cart_template_tags %}
<header id="home" class="welcome-hero">

    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy " data-minus-value-desktop="70"
                data-minus-value-mobile="55" data-speed="1000"
                style="background-color: #fff;box-shadow: 0 2px 5px rgb(0 0 0 / 20%);">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="search">
                                <a href="#"><span class="lnr lnr-magnifier"></span></a>
                            </li>
                            <!--/.search-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="lnr lnr-user"></span>
                                </a>
                                <ul class="dropdown-menu cart-list s-cate">
                                    {% if request.user.is_authenticated %}
                                    <li class="single-cart-list">
                                        <a href="#">Profile</a>
                                    </li>
                                    {% else %}
                                    <li class="single-cart-list">
                                        <a href="{% url 'account_login' %}">Login</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <!-- account -->
                            <li class="">
                                <a href="{% url 'core:cart' %}">
                                    <span class="lnr lnr-cart"></span>
                                    <span class="badge badge-bg-1">{{ request.user|cart_item_count }}</span>
                                </a>
                            </li>
                            <!--/.dropdown-->
                        </ul>
                    </div>
                    <!--/.attr-nav-->
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'core:index' %}">Divine Basket.</a>

                    </div>
                    <!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=""><a href="{% url 'core:index' %}">home</a></li>
                            {% block shop_nav%}
                            <li class=""><a href="{% url 'core:shop' %}">shop</a></li>
                            {% endblock shop_nav%}
                            <li class=""><a href="">features</a></li>
                            <li class=""><a href="">blog</a></li>
                            <li class=""><a href="">contact</a></li>
                        </ul>
                        <!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
            <!-- End Navigation -->
        </div>
        <!--/.header-area-->
        <div class="clearfix"></div>
    </div><!-- /.top-area-->
    <!-- top-area End -->
</header>
<!--/.welcome-hero-->
<!--welcome-hero end -->
<div style="height: 10px;"></div>