{% extends 'layout.html' %}
{% load humanize %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="cart_title">Order Summary <td><a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </h1>
        <div class="row">
            <div class="col-md-9 left-content">
                <table class="bordered centered responsive-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <img src="{{ order_item.item.imageURL }}" style="max-width:11rem">
                            </td>
                            <td>
                                <strong><a
                                        href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.title }}</a></strong>
                            </td>
                            <td>${{ order_item.item.price|floatformat:2|intcomma }}</td>
                            <td>
                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"
                                    class="btn btn-primary btn-sm" id="addone" aid="28"><i class="fa fa-plus"></i></a>
                                <span class="margin:auto 20px;">{{ order_item.quantity }}</span>
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"
                                    class="btn btn-danger btn-sm"><i class="fa fa-minus"></i></a>
                            </td>
                            <td>
                                ${{ order_item.get_total_item_price|floatformat:2|intcomma }}
                            </td>
                            <td>
                                <a href="{% url 'core:remove-from-cart' order_item.item.slug %}"
                                    class="btn btn-danger btn-sm" id="delete" did="28"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>


                        {% endfor %}

                    </tbody>
                </table>


            </div>
            <aside class="col-md-3 right-content">

                <!-- Order Totals -->
                <div class="summary forward">
                    <div class="totals">
                        <h5>order Details</h5>
                        <div class="item">
                            <label id="pricing-volume-point-title">Total quantity:</label>
                            <div class="value" data-format="n2" id="pricing-volume-point">
                                {{ object.get_total_quantity }}</div>
                        </div>
                    </div>
                    <div class="totals">
                        <div id="totals-section">
                            <!-- <div class="item">
                                <label id="cart-retail-total-title">Cart Retail Total:</label>
                                <div class="value" id="cart-retail-total">
                                    <bdo dir="ltr">
                                        ¢ <span data-format="n2" id="pricing-subtotal">108.62</span>
                                    </bdo>
                                </div>
                            </div>
                            <div class="item">
                                <label id="discount-title">
                                    Discount:
                                    <bdo dir="ltr">
                                        <span id="pricing-discount">(25%):</span>
                                    </bdo>
                                </label>
                                <div id="discount" class="value">
                                    <bdo dir="ltr">
                                        ¢ - <span data-format="n2" id="pricing-discount-amount">25.43</span>
                                    </bdo>
                                </div>
                            </div>
                            <div id="handling-title" class="item">
                                <label>Shipping &amp; Handling:</label>
                                <div class="value" id="handling">
                                    <bdo dir="ltr">
                                        ¢ <span data-format="n2" id="pricing-freight">7.52</span>
                                    </bdo>
                                </div>
                            </div> -->
                            <!-- <div class="item">
                                <label id="sales-tax-title">Sales Tax:</label>
                                <div class="value" id="sales-tax">
                                    <bdo dir="ltr">
                                        ¢ <span data-format="n2" id="pricing-tax">3.62</span>
                                    </bdo>
                                </div>
                            </div> -->

                            <div class="item total">
                                <label id="grand-total-title">
                                    <strong>
                                        sub Total:
                                    </strong>
                                </label>
                                <div class="value" id="grand-total">
                                    <bdo dir="ltr">
                                        ¢ <span data-format="n2"
                                            id="pricing-amount-due">{{ object.get_total|floatformat:2|intcomma }}</span>
                                    </bdo>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div id="summary-form" class="summary-form" name="summary-form">
                        <a class="btn btn-warning">Proceed to Checkout</a>
                    </div>
                </div>


            </aside>


        </div>

    </div>
    </div>
</main>

{% endblock content %}